<h1>Datos generales</h1>
	<h2>Metro</h1>
	<p><%= "Porcentaje de uso del Metro de Santiago: " + @usometro.to_s %></p>
	<p><%= "Porcentaje de Aprobacion: " + @porcentajeaprobmetro.to_s %></p>
	<p><%= "Porcentaje de Desaprobacion: " +	@porcentajereprobmetro.to_s %></p>
	<h2>Transantiago</h1>
	<p><%= "Porcentaje de uso del Transantiago: " + @usomicro.to_s %></p>
	<p><%= "Porcentaje de Aprobacion: " + @porcentajeaprobmicro.to_s %></p>
	<p><%= "Porcentaje de Desaprobacion: " +	@porcentajereprobmicro.to_s %></p>
	<h2>Taxis</h1>
	<p><%= "Porcentaje de uso de los taxis: " + @usotaxi.to_s %></p>
	<p><%= "Porcentaje de Aprobacion: " + @porcentajeaprobtaxi.to_s %></p>
	<p><%= "Porcentaje de Desaprobacion: " +	@porcentajereprobtaxi.to_s %></p>
	<h2>Colectivos</h1>
	<p><%= "Porcentaje de uso de los colectivos: " + @usocolectivo.to_s %></p>
	<p><%= "Porcentaje de Aprobacion: " + @porcentajeaprobcolectivo.to_s %></p>
	<p><%= "Porcentaje de Desaprobacion: " +	@porcentajereprobcolectivo.to_s %></p>
	