<h2>Transporte Publico</h1>
<h3>Tweets</h3>
<%= form_tag :controller => 'metro', :action => 'form' do %>
<%= submit_tag 'Metro' %>
<% end %>
<h3></h3>
<%= form_tag :controller => 'transantiago', :action => 'form' do %>
<%= submit_tag 'Transantiago' %>
<% end %>
<h3></h3>
<%= form_tag :controller => 'taxi', :action => 'form' do %>
<%= submit_tag 'Taxi' %>
<% end %>
<h3></h3>
<%= form_tag :controller => 'colectivo', :action => 'form' do %>
<%= submit_tag 'Colectivo' %>
<% end %>
<h3></h3>
<%= form_tag :controller => 'aprobGen', :action => 'form' do %>
<%= submit_tag 'Aprobacion General' %>
<% end %>
<footer>
</footer>